* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h5, h4, p, ul {
    margin: 0;
}

label {
    margin-bottom: 4px !important;
}


.bg-gray {
    background-color: #f6f6f6;
}

.bg-gray-400 {
    background-color: #FCFCFC
}

.box-shadow {
    box-shadow: 10px 10px 35px 0 rgb(0 0 0 / 17%);
}

.student-subjects {
    min-width: 100%;
}


.title {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 0;
}

.btn {
    font-weight: bold;
}

.btn-success {
    background-color: #319470;
    border-color: #319470;
}

.bg-success, th {
    background-color: #319470;
}

th {
    background-color: #21B982 !important;
    color: white;
}

.btn-light {
    border-color: black !important;
}

.bi {
    color: black !important;
}

.bi-arrow-right-square, .bi-eye {
    color: green !important;
}

.bi-person-circle, .bi-pencil-square, .bi-trash, .bi-send, td > button > .bi-person-dash, td > a > .bi-eye {
    color: white !important;
}

.bi-exclamation-triangle-fill, .text-warning {
    color: rgb(245, 159, 0) !important;
}

.btn-warning {
    background-color: rgb(245, 159, 0) !important;
}

.dropdown-toggle {
    box-shadow: none !important;
}


@media screen and (min-width: 560px) {
    .offcanvas {
        width: 400px;
    }
}
