*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

.bg-panel{
  background-color: #f6f6f6;
  height: 100%;
}

/* Menu lateral */

.offcanvas {
    width: 300px;
}

@media screen and (min-width: 560px) {
    .offcanvas {
        width: 400px;
    }
}
